# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Angular / Nest
.angular/
dist/

# IDE / Editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment Secrets
.env
.env.local
.env.*.local

# Operating System
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store
